a, a:hover {
  color: #4682B4;
}


/* Back to top button */
.back-to-top {
  background: #4682B4;
  color: #fff;
}


.back-to-top:focus {
  background: #4169E1;
  color: #fff;
}

.back-to-top:hover {
  background: #019090;
  color: #fff;
}

.navbar-default {
  background: #3daf6a;
}

.form-control:focus {
  border-color: #4682B4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #4682B4;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #4682B4;
}

.service .carousel-indicators .active {
  background: #4682B4;
}

.btn-theme {
  background: #b44682;
}

.contact-widget i {
  color: #4682B4;
}
